.checkout-product{
    display:flex;
    font-size:3rem;
    font-family: Koulen;
   
    &__image{
        width:17rem;
        height:22rem;
        margin-right:2rem;
    }
    justify-content: space-between;
    &__info{
        display:flex;
        flex-direction:column;
        width:20rem;
        font-size:2.5rem;
        &__title{
            font-size:3rem;
            font-weight: 600;
            line-height: 3rem;
        }
        
        
    
    }
    border-bottom: #f2f2f2 2px solid;
    margin-bottom:2rem;
}