$magnifier-icon: url("../../files/magnifier-icon.svg");
.navbar {
  min-height: 8rem;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    border-bottom: solid 2px #f2f2f2;
    &__logo {
      width: 25rem;
      margin-right: 1rem;
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: min-content;
      font-size: 3rem;
      font-weight: 400;
      font-family: koulen;

      &__item {
        position: relative;
        height: min-content;
        margin: 0rem 2rem;
        &--active {
          text-decoration: underline;
        }
        text-decoration: none;
        &:hover &__dropdown {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        &__dropdown {
          position: absolute;
          z-index: 1;
          top: 100%;
          width: 12rem;
          display: none;
          background-color: white;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          font-size: 2.2rem;
          &__item {
            margin-bottom: 1rem;
            width: 100%;
            cursor: pointer;
            &:link,
            &:hover {
              background-color: #f5f7ff;
              text-decoration: none;
            }
            &:active {
              background-color: #f2f2f2;
            }
          }
        }
      }
    }
    &__user-icon {
      width: 3rem;
      height: 3.6rem;
      margin-left: 1.5rem;
      margin-bottom: 0.2rem;
    }
    &__shopping-cart-icon {
      width: 3rem;
      height: 3.7rem;
      margin-left: 1rem;
      margin-bottom: 0.15rem;
    }
  }
}
.active {
  text-decoration: underline;
}
