.product {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 110rem;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin-top: 2rem;
    &__image {
      max-width: 40rem;
      margin-right: 20px;
      max-height: 60rem;
    }
    &__info {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 2rem;
      font-size: 2rem;
      font-family: Koulen;
      hgroup {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      h1 {
        font-size: 7rem;
        height: 7rem;
      }
      h2 {
        font-size: 4.5rem;
      }
      &__price {
        font-size: 4rem;
        margin-top: 1rem;
        &:after {
          content: "$";
          margin-left: 0.5rem;
        }
      }
    }
    &__form {
      padding-top: 2rem;
      width: 30%;
      display: flex;
      flex-direction: column;

      font-size: 2rem;
      font-family: Koulen;
      margin-top: 1rem;
      &__title {
        font-size: 4rem;
        margin-bottom: 1rem;
      }
      &__select {
        width: 100%;
        height: 4rem;
        border: 1px solid #dddcdc;
        border-radius: 2px;
        font-size: 2.2rem;
        font-family: Koulen;
        &:focus {
          outline: none;
        }
      }
      &__button {
        width: 100%;
        height: 7rem;
        margin-top: 4rem;
        border: none;
        border-radius: 2px;
        background-color: #f2f2f2;
        font-size: 2rem;
        font-family: Koulen;
        cursor: pointer;
        &:hover {
          background-color: #acabab;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
